// COLOR

// dark
$dark-theme-bg: #2f3542;
$dark-theme-white: #dee2e3;
$dark-theme-grey: #454e61;
$dark-theme-aquamarine: #4abec3;
$dark-theme-orange: #f7835d;

// light
$light-theme-bg: #2f3542;
$light-theme-black: #636364;
$light-theme-grey: #e3e3e3;
$light-theme-blue: #0896c8;
$light-theme-pink: #e96a8d;

// FONT
@font-face {
    font-family: SFProTextRegular;
    src: url(../fonts/SF-PRO-TEXT-REGULAR.OTF);
}

h1::before{
    content: attr(line) "\00a0\00a0\00a0..........................................";
    color: $light-theme-grey;
    font-size: 16px;
    position: absolute;
    left: -100px;
    z-index: -10;
    line-height: 56px;
}
h3::before{
    content: attr(line) "\00a0\00a0\00a0..........................................";
    color: $light-theme-grey;
    font-size: 16px;
    position: absolute;
    left: -100px;
    z-index: -10;
    line-height: 29px;
}
h1{
    font-size: 40px;
    // margin: 9px 0;
    // line-height: 56px !important;
}
h3{
    margin-top: 10px;
    font-size: 24px;
    // line-height: 29px !important;

}
.comment{

}
p{
    background: white;

    padding: 0 20px;
    &.tab1{
        margin: 0 -20px;
    }
    &.tab2{
        margin: 0 20px;
    }
    &.tab3{
        margin: 0 60px;
    }
    &.tab4{
        margin: 0 100px;
    }
}

.logo img{
    margin-bottom: 20px;
}

ol {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
}
li{
    margin: 10px 0;
}
li:before {
    display: marker;
    content: counter(item) "\00a0\00a0\00a0\00a0.....................\00a0\00a0";
    counter-increment: item;
    width: 6em;
    text-align: center;
    color: $light-theme-grey;
    font-size: 16px;
}

body {
    font-family: SFProTextRegular;
    font-size: 16px;

    .wrapper {
        display: flex;
        min-height: 100%;
        overflow: hidden;
        flex-direction: column;
        padding: 3em;
        position: relative;
        .a {
            color: red;
            &::before {
                content: '//';
                width: 100px;
                border-bottom: 1px dashed #454e61;
                position: absolute;
                line-height: 10px;
                left: -200px;
            }
        }
    }
}
.container {
    margin: 0 auto;
    width: 1440px;
    padding: 0 20px;
    position: relative;
}
@media screen and (max-width: 1400px) {
    .container {
        width: 970px;
    }
}
@media screen and (max-width: 992px) {
    .container {
        width: 750px;
    }
}
@media screen and (max-width: 767px) {
    .container {
        width: none;
    }
}
