// COLOR

// dark
$dark-theme-bg: #2f3542;
$dark-theme-white: #dee2e3;
$dark-theme-grey: #454e61;
$dark-theme-aquamarine: #4abec3;
$dark-theme-orange: #f7835d;
$dark-theme-number: #454e61;

// light
$light-theme-bg: #ffffff;
$light-theme-black: #636364;
$light-theme-grey: #e3e3e3;
$light-theme-blue: #0896c8;
$light-theme-pink: #e96a8d;

// FONT
@font-face {
    font-family: SFProTextRegular;
    src: url(../fonts/SF-PRO-TEXT-REGULAR.OTF);
    font-display: swap;
}

body {
    font-family: SFProTextRegular;
    font-size: 16px;
    background: $light-theme-bg;
    color: $light-theme-black;
    a {
        color: $light-theme-black;
        text-decoration: none;
        &:hover {
            opacity: 0.8;
        }
    }
    .title1 {
        font-size: 40px;
        &::before {
            content: attr(line)
                '\00a0\00a0\00a0..........................................';
            font-size: 16px;
            position: absolute;
            left: 0px;
            z-index: -10;
            line-height: 56px;
            color: $light-theme-grey;
        }
    }
    .title2 {
        margin-top: 10px;
        font-size: 24px;
        &::before {
            content: attr(line)
                '\00a0\00a0\00a0..........................................';
            font-size: 16px;
            position: absolute;
            left: 0px;
            z-index: -10;
            line-height: 29px;
            color: $light-theme-grey;
        }
    }

    p {
        background: white;
        padding: 0 20px;
        &.tab1 {
            margin: 0 50px;
        }
        &.tab2 {
            margin: 0 90px;
        }
        &.tab3 {
            margin: 0 130px;
        }
        &.tab4 {
            margin: 0 170px;
        }
    }

    span {
        &.comment {
            color: $dark-theme-grey;
        }
        &.function {
            color: $light-theme-grey;
        }
        &.function-name {
            color: $light-theme-blue;
        }
        &.array-item {
            color: $light-theme-pink;
        }
    }
    .wrapper {
        display: flex;
        min-height: 100%;
        overflow: hidden;
        flex-direction: column;
        padding: 2.5em 3em;
        position: relative;
        .container {
            margin: 0 auto;
            padding: 0 20px;
            position: relative;
            .main {
                margin-top: 30px !important;
            }
            .d-flex {
                display: flex;
                flex-direction: row;
            }
            .w200 {
                width: 200px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    body {
        .title1 {
            font-size: 20px;
            &::before {
                content: attr(line) '\00a0\00a0';
                line-height: 20px;
            }
        }
        .title2 {
            margin: 8px 0;
            font-size: 16px;
            &::before {
                content: attr(line) '\00a0\00a0';
                line-height: 16px;
            }
        }
        .wrapper {
            padding: 1em !important;
        }
        p {
            background: white;
            padding: 0;
            &.tab1 {
                margin: 0 20px;
            }
            &.tab2 {
                margin: 0 40px;
            }
            &.tab3 {
                margin: 0 55px;
            }
            &.tab4 {
                margin: 0 80px;
            }
        }
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: $light-theme-bg;
        color: $light-theme-black;
        a {
            color: $light-theme-black;
        }
        .title1 {
            &::before {
                color: $light-theme-grey;
            }
        }
        .title2 {
            &::before {
                color: $light-theme-grey;
            }
        }
        p {
            background: $light-theme-bg;
        }
        span {
            &.comment {
                color: $dark-theme-grey;
            }
            &.function {
                color: $light-theme-grey;
            }
            &.function-name {
                color: $light-theme-blue;
            }
            &.array-item {
                color: $light-theme-pink;
            }
        }
    }

    .spalmalo {
        fill: #636364;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: $dark-theme-bg;
        color: $dark-theme-white;
        a {
            color: $dark-theme-white;
        }
        .title1 {
            &::before {
                color: $dark-theme-number;
            }
        }
        .title2 {
            &::before {
                color: $dark-theme-number;
            }
        }
        p {
            background: $dark-theme-bg;
        }
        span {
            &.comment {
                color: #c1c1c1;
            }
            &.function {
                color: $dark-theme-grey;
            }
            &.function-name {
                color: $dark-theme-aquamarine;
            }
            &.array-item {
                color: $dark-theme-orange;
            }
        }
    }

    .spalmalo {
        fill: #dee2e3;
    }
}
